* {
    margin-top: 50px;
}

.header-main {
    margin: 0px 140px;
}

.header-div {


    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1320px;
    max-height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../B9A1-New-Year-New-Mission/resources/Banner\ Image.png");
    padding: 130px 344px;

}

.new-year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.celebration {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* main section started */
.main-first {
    margin: auto;
}

.first-image {
    width: 100%;
    /* margin: auto; */
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catagory {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-image {}

/* main second  */
.main-second {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../B9A1-New-Year-New-Mission/resources/Vectorrr.png');
    padding: 68px 130px;
    border-radius: 15px;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;

}

.main-content {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-primary {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* main third started */
.main-third {
    padding: 100px 350px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.main-third-content {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

span {
    color: #F00;

    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
    text-align: center;

}

.secondary {

    padding: 16px 32px;

    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    display: block;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

.btn-secondary {
    text-align: center;
    width: 100%;

}
.btn-secondary .secondary {
margin: auto; }
.main-forth {
    display: flex;
    justify-content: space-between;
}

.main-forth-content {
    padding-right: 70px;
   
}
.main-forth-content h3,h2{
    color: #F00;
font-family: Inter;
font-size: 24px,48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.main-content-f {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}
.title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.forth-img {
    height: 365px;
    width: 365px;
    
    border-radius: 365px;
    border: 15px solid #F00;
    padding: 15px;
   
    justify-content: center;
}
.forth-img img {  position: relative;
top: -50px;
}
/* main fifth started */
.main-fifth {
    text-align: center;
}

.main-fifth h6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-fifth h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.main-fifth-span {
    font-size: 72px;
}

.fifth-images {
    display: flex;
    
    position: relative;
}

.main-fifth p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.fifth-images .imgone {

    padding-top: 90px;
    position: relative;
    text-align: center;
}


.imgtwo .discount{
    position: relative;
    top:400px;
    right: 233px;
}
.imgtwo .rectangle{
    position: relative;
    top: 55px;
    right: -48px;
    
}
.main-fifth .fifth-main-img{
    position: relative;
    top: -300px ;
}
.fifth-main-img .imgone{
    position: relative;
    top: 350px;
}
/* sixth main started */
.sixth-main{
    position: relative;
    top: -90px;
}
.sixth-main h2{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sixth-main p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.sixth-content-img{
    display: inline;
}
.sixth-img .images{
    width: 424px;
height: 450px;
}
/* main last */
.main-last{
    padding: 80px 212px;
   text-align: center;
   border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
gap: 45px;
}
.main-last p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.main-last .button-last{
    width: 150px;
height: 50px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
background: #F00;
border: none;
}
.main-last input{
    width: 480px;
height: 48px;
text-align: justify;
position: relative;
right: -5px;
border-radius: 50px 0px 0px 50px;
background: #FFF;
border:none;
}